__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env
.vscode/
*.git/
*.gitignore
node_modules/
build/
dist/
*.zip
*.tar.gz
*.egg-info/
.DS_Store
*.bak
*.old
*.tmp
*.swp
*.swo
*.ipynb
*.idea/
*.cache/
